<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halloween Horror Nights</title>
    <link rel="stylesheet" type="text/css" href="/styles/detalle.css">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    {{> header}}
    <section class="producto">
        {{#each producto}}
            <h1>{{tipo}} "{{nombre}}"</h1>
            <p>Escoge la cantidad que desees y a単ade a tu carrito</p>
            <div>
                <img src="/{{url}}" alt="{{nombre}}" style="width: 40%;">
            </div>
            <h4>Precio: ${{precio}}</h4>
            <input type="number" min="1" max="5" placeholder="0">
            <button>a単adir al carrrito</button>
        {{/each}}
    </section>

    <section class="productoo">
        {{#each producto}}
            <div>
                <img src="/{{url}}" alt="{{nombre}}" style="width: 40%;">
            </div>
            <article>
                <h1>{{tipo}} "{{nombre}}"</h1>
                <p>Escoge la cantidad que desees y a単ade a tu carrito</p>
                <h4>Precio: ${{precio}}</h4>
                <input type="number" min="1" max="5" placeholder="0">
                <button>a単adir al carrrito</button>
            </article>
        {{/each}}
    </section>
    {{> advert}}
</body>

<footer>
    {{> foot }}
</footer>

</html>