<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halloween Horror Nights</title>
    <link rel="stylesheet" type="text/css" href="/styles/detalle.css">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    {{> header}}
    
    {{#each producto}}
        <h1>{{tipo}} "{{nombre}}"</h1>
        <p>Escoge la cantidad que desees y añade a tu carrito</p>
        <div>
            <img src="{{url}}" alt="{{nombre}}" style="width: 100%;">
        </div>
        <p>${{precio}}</p>
        <input type="number" min="1" max="5">
        <button>añadir al carrrito</button>
    {{/each}}

    {{> advert}}
</body>

<footer>
    {{> foot }}
</footer>

</html>